# Usage: pip install -r requirements.txt

# Base ----------------------------------------
matplotlib
numpy
scipy
tqdm
mlflow
argparse
scikit-learn
pandas 
tensorflow 
keras
bcrypt
boto3
cloudpickle
defusedxml
dill
fsspec
google-cloud-storage
lz4
pathlib
pyopenssl
python-snappy
tblib
cryptography==38.0.4
